
*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	color: #fff;
	font: 14px Montserrat, Helvetica,Arial, sans-serif;
	background: #ebebeb;
}
.wrapper,
.gallery,
.column,
footer{
	max-width: 1920px;
	margin: 0 auto;
}
.wrapper{
	background-image: url(../images/bg.jpg);
	background-size:cover;
	background-position: center;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.container:after {
	content: "";
	display: table;
	clear: both;
}
header{
	overflow: hidden;
	border-bottom: 1px solid #fec4ba;
	padding: 70px 0;
}
.logo{
	float: left;
	height: 30px;
	width: 30px;
	border: 4px solid #fff;
	border-radius: 50%;
	margin-top: 10px;
	cursor: pointer;
}
.logo a{
	display: none;
}
.navigation{
	font-weight: bold;
	list-style: none;
	text-align: center;	
}
.navigation li{
	list-style: none;
	display: inline-block;
	letter-spacing: 1px;
	font-size: 12px;
}
.navigation a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	margin-left: 46px;
	cursor: pointer;
}
a:active{
	color:#0c0; 
	background-color:transparent;
	text-decoration:underline;
}
.burger,
.search{
	float: right;
	cursor: pointer;
	display: inline-block;
	margin-top: 10px;	
}
.burger{
	margin-top: 18px;
	height: 3px;
	width: 30px;
	background-color: #fff;
	margin-left: 2%;
}
.burger::before,
.burger::after{
	content: "";
	height: 3px;
	width: 34px;
	background-color: #fff;
	margin-top: -8px;
	margin-left: -4px;
	float: right;
	cursor: pointer;
}
.burger::after{
	margin-top: 8px;	
}
main{
	padding: 15% 20% 3%;
}
.text{
	text-align: center;
	margin: 0px auto 98px;
	font-size: 20px;
	line-height: 1.8;
}
h1{
	font: 140px "Playfair Display",  Helvetica, serif;
	margin: 0;
	padding-bottom: 30px;
}
.text p{	
	padding: 0 22%;
	font-size: 18px;
}
.button{
	text-align: center;
	padding: 15px 40px;
	background-color: #da7074;
	color: #fff;
	border-radius: 30px;
	border: none;
	text-transform: uppercase;
	margin: 0 auto;
	display: block;
	position: relative;
	z-index: 2;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
button:active{
	background-color: #da70cf;
	z-index: 6;
}
.button::before{
	content: "";
	border-top: 1px solid #da7074;
	top: 50%;
	right: 100%;
	padding-right: 70%;
	position: absolute;
	box-shadow: 257px 0px #da7074;
}
.button::after{
	content: "";
	border-left: 1px solid #da7074;
	padding: 95px 0;
	position: absolute;
	margin-top: 90px;
	top: 40px;
	left: 50%;
	box-shadow: 4px 20px  #da7074;
}
.play{
	display:block;
	border: 2px solid #fff;
	border-radius: 50%;
	width: 78px;
	height: 78px;
	position: relative;
	margin: 350px  auto 0;
	cursor: pointer;
}
.play::after{
	content: "";
	background: url(../images/play.png) no-repeat;
	height: 35px;
	width: 30px;
	position: absolute;
	top:25%;
	left: 35%;
}
/*gallery*/
.gallery{
	overflow: hidden;
	margin-top: -2px;
}
.gallery img{
	display: block;
	width: 100%;
	height: auto;
}
.gallery .col,
.gallery .col1,
.gallery .col2,
.gallery .col3{
	float: left;
	width:25%;
	position: relative;
}
.col .location,
.col1 >.location,
.col2 >.location,
.col3 >.location{
	display: block;
	text-align: center;
	position: absolute;
	bottom:18%;
	left: 1%;
	right: 1%;
	letter-spacing: 1px;
	font-size: 18px;
}
.location p{
	font-style: italic;
}
/*column*/
.column{
	overflow: hidden;
	color: #151515;	
	margin: 0 auto;
	width: 80%;
	padding: 60px 0 100px;
	font: italic 14px/1.8 Georgia, Arial, serif, sans-serif;
}
h4{
	font-weight: bold;
	margin: 0;
	padding: 40px 0;
}
.column li{
	list-style: none;
	line-height: 2;
}
.column a{
	color: #151515;	
	margin: 0;
	text-decoration: none;
}
.col,
.col1,
.col2,
.col3{
	float: left;
	width:25%;
	margin: 0 auto;
}
/*footer*/
footer{
	display: block;
	height: 180px;
	background-color: #000;
	text-align: center;
	color: #464646;
}
footer p{
	padding: 75px;
}
@media (max-width: 900px) {
.navigation ul {
    	display: none;
    	position: absolute;
		top: 18%;
		left: 0;
		right: 0;
		background: #fec4ba;
		text-align: center;
		padding: 0;
		margin: 0;
}
ul li,
.burger,
.menu-opened ul{
		display: block;
		margin-left: 5%;
}
.menu-opened ul{
	margin: 8% 25% 0;
}
.navigation a{
		line-height: 2;
		margin: 0;
}
h1{
	font-size: 120px;
}
.text p{
		padding: 0 5%;
}
.location h3{
	font-size: 14px;
}
.location p{
	font-size: 12px;
}
.col,
.col1,
.col2,
.col3{
		float: left;
		display: block;
		width: 48%;
		height: auto;
}
.navigation li{
	display: block;
}
}
@media (max-width: 465px) {
.text  > h1{
		font-size: 82px;
}
header{
		height: 80px;
}
main{
	padding: 24px 8px;
}
.text{
		margin-top: 60px;
}
.col,
.col1,
.col2,
.col3{
		float: none;	
		width: 100%;
		height: auto;
}
.column{
		padding: 10px 0;
		text-align: center;
}
}





